<h2>Sign up</h2>

<div class="container">
      <div class='row'>
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="well span6 offset5">
     <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-stacked' } ) do |f| %>
  <%= devise_error_messages! %>
            <h2>Sign Up </h2>
            
            <div class='cleaner_h20'></div>
            
            <div class="clearfix">
              <%= f.label :"Columbia Email" %>
              <div class="input">
              <%= f.text_field :email ,:size =>"30",:html =>{ :class=>'xlarge'} %>
                <!--
                <span class="help-block">
                  <span class='label important'>Warning</span> incorrect email address
               </span>
                -->
              </div>
            </div>
            
            <div class="clearfix">
              <%= f.label :name %>
              <div class="input">
                <%= f.text_field :name ,:size =>"30",:html =>{ :class=>'xlarge'} %>
                <!--
                <span class="help-block">
                  <span class='label important'>Warning</span> the username already exists
                </span>
                -->
              </div>
            </div>
            <div class="clearfix">
			  <%= f.label :number, "Phone number**" %>
			  <div class="input">
				<%=f.text_field :number%>
				</div>
			  </div>
            <div class="clearfix">
              <%= f.label :"Password" %>
              <div class="input">
              <%= f.password_field :password ,  :class=> 'xlarge'%>
                <!--
                <span class="help-block">
                  <span class='label important'>Warning</span> too easy - even I can guess it
               </span>
              -->
              </div>
            </div>
            
            <div class="clearfix">
              <%= f.label :"Password Confirmation" %>
              <div class="input">
              <%= f.password_field :password_confirmation ,  :class=> 'xlarge'%>
              </div>
          
</div>
            
            <div class='cleaner_h10'></div>
            
            <ul class="inputs-list">
             <!-- <li>
                <label>
                  <input type="checkbox" name="terms_up" id='terms_up' value="yes" checked='true' />
                  <span for='terms_up'>Agree to <a href='#'>Terms of Use</a></span>
                </label>
              </li> -->
            </ul>
            
            <div class='cleaner_h20'></div>
			<%= f.submit "sign up", :id =>'submit_up', :class=> 'btn primary' %>
            <!--<input type='submit' value='Sign Up &raquo;' id='submit_up' name='submit_up' class="btn primary"/> -->
			<p>**If you are a TA and would like to receive a text when students need your help</p>
          </form>
        </div>
        </div>
<% end %>  

