<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :email, "Columbia.edu email"  %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :number, "Phone number **" %> <br />
  <%= f.text_field :number %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<p>**If you are a TA and would like your students to be able to alert you if you are not present</p>
<%= render :partial => "devise/shared/links" %>
