<!DOCTYPE html>
<html>
<head>
  <title>Helproom</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
	<!-- Topbar
	    ================================================== -->
	    <div class="topbar">
	      <div class="topbar-inner">
	        <div class="container">
	          <a href="" class="brand">helproom<sup><span class="label success">beta</span></sup></a>
<% unless user_signed_in? %>		 
		 <ul class="nav">
	          	<li>
	          		<a href="">How it works</a>
	          	</li>

	          	<li>
	          		<a href="">Contact Us</a>
	          	</li>
	          </ul>
	          

<%= form_for("user", :url => user_session_path) do |f| %>
  <%= f.email_field :email ,:class=>'medium',:placeholder => 'CU email' %>
  <%= f.password_field :password, :class =>'medium' ,:placeholder =>'password' %>


  <button type="submit" class="btn">Sign in</button>
<% end %>
				
	          <ul class="nav secondary-nav">
	          <li>
		  	  <%= link_to "Not member yet?", new_registration_path("user") %>
		  	  </li>
		  	  </ul>
<%else%>
<ul class="nav">
      	<li>
      		<a style='text-align:right;'>Welcome <%= current_user.uni%></a>
      	</li>
		<li>
			<%= link_to "logout", "/users/sign_out" %>
		</li>
		<li>
			<%= link_to "Go in test classroom", "/c/test" %>
		</li>
			
</ul>
<% end %>
	        </div>
	      </div>
	    </div>
	
	<%= yield %>


<%= debug(params) if Rails.env.development? %>
</body>

</html>
